:root {
    --primary-color: #222222;
    --secondary-color: #2d2d2d;
    --tertiary-color: #353535;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    --tertiary-text-color: #cccccc;
    --app-font: 'Roboto', sans-serif;
    --success-color: #7cff5e;
    --secondary-success-color: #d1e7dd;
    --error-color: lightcoral;
    --secondary-error-color: #e3c2c2;
    --radius: 12px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    --margin: 12px;
    background: var(--primary-color);
}

body {
    font-family: var(--app-font), sans-serif;
    color: var(--primary-text-color);
    margin: 0;
}

/* Container centré */
.root {
    min-height: 100vh;
    font-family: var(--app-font), sans-serif;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 1rem;
}