#reader {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}


#reader video {
    object-fit: contain; /* évite de couper la caméra en haut/bas */
}

/* Zone de scan centrée */
#reader__scan_region {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajoute le carré vert */
.qr-shaded-region {
    border: 2px solid rgba(0, 255, 0, 0.7);
    box-sizing: border-box;
    border-radius: 8px;
}

.equipment-card-container {
    width: calc(100% - 24px); /* 12px de chaque côté */
    margin: 12px;
    bottom: 50px;
    z-index: 100;
    position: absolute;
}

