.equipment-edit-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    margin: var(--margin);
    padding: 16px;
    border-radius: var(--radius);
    gap: 12px;
}

.equipment-edit-container input,
.equipment-edit-container textarea,
.equipment-edit-container select
{
    background-color: var(--tertiary-color);
    border: none;
    padding: 12px;
    border-radius: var(--radius);
    color: var(--primary-text-color);
}

.equipment-save-btn {
    background-color: var(--success-color);
    padding: 12px;
    border-radius: var(--radius);
    border: none;
}