.equipmentQR-container {
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    margin: var(--margin);
    padding: 12px
}

.download-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--success-color);
    margin: var(--margin);
}