/* src/styles/FloatingCart.css */
.fab-cart {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #7d7d7d; /* Couleur du bouton */
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease;
}

.fab-cart:hover {
    transform: scale(1.1);
}

.fab-cart ion-icon,
.fab-cart svg {
    color: var( --primary-text-color);
    font-size: 28px;
}
