/* src/styles/FloatingCart.css */
.fab-checkout {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--success-color); /* Couleur du bouton */
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease;
}

.fab-checkout:hover {
    transform: scale(1.1);
}

.fab-checkout ion-icon,
.fab-checkout svg {
    color: var(--secondary-text-color);
    font-size: 28px;
}
