.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* centré verticalement */
    gap: 12px;
    color: var(--primary-text-color); /* ta couleur principale */
    font-weight: 500;
}

.loader {
    width: 48px;
    height: 48px;
    border: 4px solid var(--tertiary-color);
    border-top: 4px solid #ffffff; /* couleur principale */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
