.topbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #353535;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
    height: 28px;

}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    color: white;
}

.back-button:active {
    transform: scale(0.95);
}

.topbar-title {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: white;
}

.topbar-spacer {
    width: 24px; /* même largeur que l'icône pour garder le titre centré */
}
