.profile-selector__container {
    display: flex;
    flex-direction: column;
}

.profile-selector__select {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    border-radius: var(--radius);
    border: none;
    margin: var(--margin);
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}