.equipment-list__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: var(--margin);
}

.equipment-list__card-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-bottom: 140px;
}

.equipment-list__create-btn {
    display: flex;
    padding: 10px 16px;
    color: var(--success-color);
    border-radius: var(--radius);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: none;
    border: var(--success-color) 2px dashed;
}