.top-bar__container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--tertiary-color);
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 20;
    height: 28px;

}

.top-bar__back-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.top-bar__back-btn:active {
    transform: scale(0.95);
}

.top-bar__title {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: var(--primary-text-color);
}

.top-bar__spacer {
    width: 24px; /* même largeur que l'icône pour garder le titre centré */
}
